@model apptienda.Models.Calculo

@{
    ViewBag.Title = "Calculadora";
}

<h1>Calculadora Cientifica</h1>

<form method="post" asp-action="Calculo">
    <div class="form-group">
        <label for="numero1">Número 1</label>
        <input type="number" class="form-control" id="numero1" name="Operador1" required />
        <span class="text-danger" asp-validation-for="Operador1"></span>
    </div>
    <div class="form-group  mt-2">
        <label for="numero2">Número 2</label>
        <input type="number" class="form-control" id="numero2" name="Operador2" required />
        <span class="text-danger" asp-validation-for="Operador2"></span>
    </div>
    <div class="form-group  mt-2">
        <label for="operacion">Operación</label>
        <select class="form-control" id="operacion" name="Operacion" required>
            <option value="suma">Sumar +</option>
            <option value="resta">Restar -</option>
            <option value="multiplicar">Multiplicar</option>
            <option value="dividir">Dividir</option>
        </select>
        <span class="text-danger" asp-validation-for="Operacion"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Calcular</button>
</form>
<h1>@ViewData["Resultado"]</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
